<div class="TopLogoNav container d-flex justify-space-between">
    <p class="TopLogoNav__log">LOGO</p>
    <h3 class="TopLogoNav__heading">KENYA MARINE AND FISHERIES RESEARCH INSTITUTE</h3>
</div>

@code {

}
