.Navigation-wrapper {
    display: flex;
    height: 42px !important;
    color: #fff;
    min-width: 100% !important;
    justify-content: center !important;
    background-color: #00ffff !important;
}
