<div class="topnavbar">
    <div class="topnavbar__leftdiv">
        <p class="topnavbar__leftdiv--facebook">Facebook</p>
        <p class="topnavbar__leftdiv--facebook">Twitter</p>
        <p class="topnavbar__leftdiv--facebook">Youtube</p>
    </div>
    <div class="topnavbar__rightdiv">
        <p class="topnavbar__rightdiv--email mx-1">info@kmfri.go.ke</p>
        <button class="btn btn-danger">Gives Us Feedback</button>
    </div>
</div>

@code {

}
