<div class="TopLogoNav container d-flex justify-space-between">
    <a href="/" class="d-flex">
        <img src="imgs/logo.png" alt="KMFRI LOGO" class="TopLogoNav__log" />
        <img src="imgs/kmfri-logo.png" alt="KMFRI LOGO" class="TopLogoNav__log" />
    </a>
    
    <h3 class="TopLogoNav__heading">KENYA MARINE AND FISHERIES RESEARCH INSTITUTE</h3>
</div>

@code {

}
