<div class="topnavbar">
    <div class="topnavbar__leftdiv">
        <p class="topnavbar__leftdiv--icons">
            <a href="https://fontawesome.com/search" target="_blank" class="topnavbar__link">
                <i class="fa-brands fa-facebook"></i>
            </a> 
        </p>
        <p class="topnavbar__leftdiv--icons">
            <a href="https://fontawesome.com/search" target="_blank" class="topnavbar__link">
                <i class="fa-brands fa-twitter"></i>
            </a> 
        </p>
        <p class="topnavbar__leftdiv--icons">
            <a href="https://fontawesome.com/search" target="_blank" class="topnavbar__link">
                <i class="fa-brands fa-youtube"></i>
            </a> 
        </p>
    </div>
    <div class="topnavbar__rightdiv">
        <p class="topnavbar__rightdiv--email mx-1">info@kmfri.go.ke</p>
        <button class="btn btn-danger mx-1">Gives Us Feedback</button>
    </div>
</div>

@code {

}

