@page "/"

<PageTitle>Home - KMFRI</PageTitle>

@*carousel, Events and News*@
<div class="container mt-2 pb-2">
    <div class="row">
        <div class="col-md-8">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://cdn.pixabay.com/photo/2014/06/27/12/36/fish-378286_960_720.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2014/06/27/12/36/fish-378286_960_720.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2014/06/27/12/36/fish-378286_960_720.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="upcomingEvents">
                <p class="upcomingEvents__header">Upcoming Events</p>
                <ul class="upcomingEvents__list">
                    <li class="upcomingEvents__list--item">
                        <a href="#" class="upcomingEvents__link">
                            <i class="fa-solid fa-greater-than upcomingEvents__arrow">  </i> <span class="mx-1">
                                 KMFRI to partner with Kenya Society for the Blind to empower the visually impaired
                            </span>
                        </a>
                    </li>
                    <li class="upcomingEvents__list--item">
                        <a href="#" class="upcomingEvents__link">
                            <i class="fa-solid fa-greater-than upcomingEvents__arrow">  </i> <span class="mx-1">
                                 Aquatic Resources and Blue Economy Conference (ARBEC) 2022
                            </span>
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div class="latestNews">
                <p class="latestNews__header">Latest News From KMFRI</p>
                <ul class="latestNews__list">
                    <li class="latestNews__list--item">
                        <a href="#" class="latestNews__link">
                            <i class="fa-solid fa-greater-than latestNews__arrow">  </i> <span class="mx-1">
                                 Invitation for Stakeholder Comments on Draft KMFRI Strategic Plan 2023 – 2027
                            </span>
                        </a>
                    </li>
                    
                </ul>
            </div> 
        </div>
    </div>
</div>

@*Introduction And RV Mtafiti*@

<div class="container mt-3 pb-2">

    <h3 class="text-center" style="color: #1090C4">Welcome to KMFRI</h3>

    @*Introduction*@
    <div class="row mt-3 mb-2">
        <div class="col-md-6">
            <p>
                Kenya Marine and Fisheries Research Institute (KMFRI) is a State Corporation established in 1979 by
                the Science and Technology Act, Cap 250 of the Laws of Kenya, which has since been repealed by the Science,
                Technology and Innovation Act No. 28 of 2013 which has recognized KMFRI as a national research institution 
                under section 56, fourth schedule. KMFRI's mandate is to undertake research in <strong>"marine and freshwater fisheries,
                aquaculture, environmental and ecological studies, and marine research including chemical and physical
                oceanography"</strong>, in order to provide scientific data and information for sustainable development of the
                Blue Economy........[ <a href="#">Read more</a>]
            </p>
        </div>
        <div class="col-md-6" >
            <img src="imgs/kenya-eez.jpg" alt="Kenya EEZ" class="intro__image"/>
        </div>
    </div>

    @*RV Mtafiti*@
    <div class="row mt-4 mb-3">
        <div class="col-md-6">
             <img src="imgs/mtafiti-homepage.jpg" alt="Kenya EEZ" class="intro__image"/>
        </div>
        <div class="col-md-6">
            <p>
                RV Mtafiti is a deep sea research vessel donated by the Belgium Government and commissioned
                by HE President Uhuru Kenyatta on January 27, 2014. The vessel, whose length is 55.6m,
                is a multi-disciplinary oceanographic research vessel that plays a crucial role in the collection
                of ocean data and information in support of research into understanding the physical, chemical,
                and biological processes in the ocean as well as the scientific study of the role of the oceans
                in weather and climate. RV Mtafiti is therefore designed for fisheries acoustic research, oceanographic,
                hydrographic and geological investigations.
            </p>
            <p>
                The vessel is equipped with two research laboratories: a biological and fisheries laboratory, 
                and an oceanography and chemical research laboratory. It can therefore conduct:
            </p>
            <ol>
                <li>Fish stock assessment surveys</li>
                <li>Ocean productivity  surveys</li>
                <li> Marine biodiversity surveys</li>
                <li>Environmental & pollution monitoring</li>
                <li>Seabed mapping</li>
                <li>Benthic mapping</li>
                <li>Sediment surveys</li>
            </ol>
        </div>
    </div>
</div>


@code{

}